/* Your Website Styles */
body {
	background: url("../img/back.jpg");
	background-color: #ccc;
	font-family: 'Lora', serif;
	border: solid;
	padding: 10px 10px;
	margin: 50px 50px;

}

a[href] {
  text-decoration: none;
  color: #980010;
  
  }

 h2 {
  background-color: #000;
  border: solid;
  border-color: #980010;
  line-height: 42px;
}

blockquote {
	font-family: gabriola;
	text-align: right;
	font-size: 26px;
	font-variant: small-caps;
	white-space: pre-line;
}

header {
	font-family: Felix Titling;
	font-size: 38px;
	margin-top: -100px;
	text-align: right;
}

h1 {
	font-family: Felix Titling;
	font-size: 60px;
	text-transform: uppercase;
	width: 1000px;
	margin: 0 20px 10px 0;
	float: right;
}


h3 {
	text-align: center;
	width: 320px;
	margin: 0 20px 10x 0;
	font-family: Felix Titling;
}



ul {
	
	list-style-type: square;
	border: solid;
	border-color: #980010;	

}

p {
	
	white-space: pre-line;
	margin-top: 10px;
	margin-bottom: 10px;
}


ul li {
	padding: 10px;
}








/* Show Grid */
